<p>foto works!</p>
<div class="card flex flex-column md:flex-row gap-3">
  <div id="wapper" class="card">
    <div class="formulario">
      <h2> Cadastro <span> Usuario</span></h2>
      <br/>
      <form id="container" name="signup-form">
        <div>
          <label class="ng-binding"> foto : </label>
          <br/>
          <input type="file" class="form-control" name="nome" (change)="onFileSelected($event)" #fileUpload
                 placeholder="nome">
        </div>
        <br/>

        <button type="submit" [useExistingCss]="true" styleSheetFile="assets/css/print-pdf.scss"
                mat-fab printSectionId="minimal" ngxPrint class="button">
          Salvar
        </button>
      </form>
      <div id="minimal" style="display: none">
        <div class="folha">
          <div id="esquerdo" [ngStyle]="{'height': alterar()}">
            <p-image id="foto" [src]="imageurl" alt="Image" imageClass="redondo"></p-image>
            <h1 class="nome">{{ dadosPessoais?.nome }}</h1>
            <br/>
            <p class="p1 contato"><b>Contato</b></p>
            <hr/>
            <p class="arial-titulo">TELEFONE:</p>
            <p class="arial-titulo">{{ dadosPessoais?.telefone | phone }}</p>
            <p class="arial-titulo">WhatsApp:</p>
            <p class="arial-titulo">{{ dadosPessoais?.whatsapp | phone }}</p>
            <p class="arial-titulo">SITE:</p>
            <a class="site">{{ dadosPessoais?.site }}</a>
            <p class="arial-titulo">EMAIL:</p>
            <!--            <a s>Julianoosmir&#64;outlook.com</a>-->
            <a class="site">{{ dadosPessoais?.email }}</a>
            <div style="margin-top: 100px" *ngIf="qualificacoes">
              <p class="titulo-direito" style="margin: 10px"><b> Qualificações:</b></p>
              <hr/>
              <ul>
                @for (qualificaco of qualificacoes; track qualificaco.nome) {
                  <li>
                    <p class="titulo-direito">{{qualificaco.nome}} </p>
                  </li>
                }
              </ul>
            </div>
          </div>
          <br/>
          <div id="direito" style="width: 700px;">
            <div>
              <p class="titulo-direito"><b> Data de nascimento: </b> {{ dadosPessoais?.dataDeNascimento }} </p>
              <p class="titulo-direito"><b> Endereço:</b>  {{ dadosPessoais?.endereco }}</p>
            </div>
            <div>
            <div *ngIf="apresentacao">
              <p class="titulo-direito"><b> Apresentação:</b></p>
              <hr/>
              <p class="titulo-direito">{{apresentacao.texto}} </p>
            </div>
            </div>
            <div *ngIf="formacoes.length>0">
              <p class="titulo-direito"><b> Formação:</b></p>
              <hr/>
              <ul>
                @for (fomacao of formacoes; track fomacao.instituicao) {
                  <li>
                    <p class="titulo-direito">{{ fomacao?.instituicao }} - {{ fomacao?.curso }} </p>
                  </li>
                }
              </ul>
            </div>
            <hr/>
            <div>
              <p class="titulo-direito"><b> Experiência :</b></p>
              <ul>
                @for (exp of esperiencias; track exp.empresa) {
                  <li>
                    <p class="texto-direito">
                      <b>
                        {{ exp.cargo }} – {{ exp.empresa }} -
                        {{ exp.dataInicio }} - {{ exp.dataFim ? exp.dataFim : "Atualmente" }}
                      </b>
                      - {{ exp.descricao }}
                    </p>
                    <p class="texto-direito">
                      <b> Ferramentas utilizadas: </b> {{ exp.ferramentas }}
                    </p>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
