
div#wapper {
  width: 100vw !important;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100%
}
div#wapper div.formulario {
  padding: 5pc 3pc 0pc 3pc;
  background-color: #fff;
  width: 50vw;
  /*height: 80vh;*/
  box-shadow: 1px 6px 8px 2px rgba(0, 0, 0, 0.42);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-height: 100%
}
div#wapper div.formulario h2 {
  font-family: "KoHo";
  text-align: center;
  color: #353b48;
  font-size: 24pt;
  margin-bottom: 0;
}

div#wapper div.formulario h2 span {
  color: #40739e;
}

div#wapper div.formulario p {
  text-align: center;
  margin-top: 0;
}

div#wapper div.formulario form {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}

div#wapper div.formulario form input {
  max-width: 100%;
}
div#wapper div.formulario form label {
  font-size: 12pt;
  color: #777;
  font-weight: bolder;
  margin-bottom: 1%;
}

.btn-text-right{
  margin-left: 100%;
  text-align: right;
  margin-bottom: 20px;;
}

div#wapper div.formulario form button {
  color: #f0f0f0;
  background-color: #40739e;
  border: 0;
  cursor: pointer;
  height: 40px;
  max-height : 100%;
  margin-top: 2pc;

  border-radius: 10px;
}

div#wapper div.formulario form button:hover {
  animation: hoverAnimate;
  animation-duration: 1s;
  background-color: #353b48;
  letter-spacing: 1px;
}

.col {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


@keyframes hoverAnimate {
  to {
    transition: all 0.8s ease;
    letter-spacing: 2px;
    background-color: #353b48;
  }

  100% {
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 700px) {
  input{
    max-width: 100% !important;
  }
  div#wapper div.formulario{
    width: 100vw !important;
  }
  div#wapper div.formulario form {
    display: flex;
    flex-direction: row;
    font-family: "Open Sans";
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-end;
  }
}
