<div class="card flex flex-column md:flex-row gap-3">
  <div id="wapper">
    <div class="formulario">
    <h2> Dados <span> Pessoais</span></h2>
    <br />
    <form>
      <div>
        <div>
          <label class="ng-binding"> nome : </label>
          <br />
          <input type="name"  pInputText class="form-control" name="nome" [(ngModel)]="nome" placeholder="nome">
        </div>
        <br />
        <div>
          <label>telefone : </label>
          <br />
          <input type="telefone" pInputText  name="telefone" id="telefone" [(ngModel)]="telefone"
                 aria-describedby="emailHelp" placeholder="telefone">
        </div>
      </div>
      <div>
        <div>
          <label for="email">email : </label>
          <br />
          <input type="telefone" pInputText class="form-control" name="email" id="email" [(ngModel)]="email"
                 aria-describedby="emailHelp" placeholder="telefone">
        </div>
        <br />
        <div class="form-group">
          <label for="site">site : </label>
          <br />
          <input type="site" pInputText class="form-control" name="site" [(ngModel)]="site" id="site" placeholder="site">
        </div>
      </div>
      <div>
        <div>
          <label for="dataDeNascimento" >Data de nascimento: </label>
          <br />
          <p-calendar [(ngModel)]="dataDeNascimento" name="dataDeNascimento" id="dataDeNascimento" [showIcon]="true"></p-calendar>
        </div>
        <br />
        <div>
          <button type="submit" (click)="salvar()"  class="button"> Salvar </button>

        </div>
      </div>

    </form>
    </div>
  </div>
</div>
