.folha {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  max-height: 100%;
}
hr {
  border-color:black;
  width:100%;
}
.redondo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 25px;
}

.nome {
  font-family: "Century";
  font-size: 50px;
  margin: 20px;
  text-transform: uppercase;
}

.contato{
  font-family: "Century Gothic", "Century";
  font-size: 30px;
  margin: 20px;
  width: 300px;

}
.arial-titulo{
  font-family: "Arial";
  font-size: 20px;
  margin: 20px;
  max-width: 300px;

}
#foto {
  margin-top: 10px;
}

#minimal {
  max-height: 100%;
}

#esquerdo {
  background-color: #d9d7d7;
  width: 300px;
  margin-bottom: 0px;
  border-radius: 10px;

  /*height: 2240px;*/
  //height: 1120px;

}

.site{
  font-family: "Arial";
  font-size: 20px;
  margin: 20px;
  max-width: 300px;
}

#direito {
  margin-bottom: 0px;
  margin-left: 20px;
  max-width: 500px;
}

.titulo-direito{
  font-family: "Arial";
  font-size: 20px;
  margin-bottom: 1px;
  max-width: 600px;
  text-align: justify;
}

.texto-direito {
  text-align: justify;
  font-size: 18px;
  max-width: 600px;
  line-height: 1.5;

}

.printarea {
  visibility: visible;
}

@page {
  max-height: 100%;
  size: A4;
  margin: 0;
  margin-top: 40px;
  color: #d9d7d7 !important;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
    background: #00BAFF; !important;

  }
}
* {
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
