<div class="card flex flex-column md:flex-row gap-3">
  <div id="wapper" class="card">
    <div class="formulario">
      <h2> Cadastro <span> Experiencia</span></h2>
      <br/>
      <form name="signup-form">
        <div class="row">
          <div>
            <label class="ng-binding"> Cargo : </label>
            <br/>
            <input type="name" pInputText class="form-control" name="nome do cargo" [(ngModel)]="cargo"
                   placeholder="nome do cargo">
          </div>
          <br/>
          <div>
            <label class="ng-binding"> nome da Empresa : </label>
            <br/>
            <input type="name" pInputText class="form-control" name="nome do Empresa" [(ngModel)]="nomeEmpresa"
                   placeholder="nome do Empresa">
          </div>
          <br/>
        </div>
        <br/>
        <div class="cargo">
          <label class="ng-binding"> Descrição : </label>
          <br/>
          <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="descricao" [ngModelOptions]="{ standalone: true }"></textarea>
        </div>
        <br/>
        <div class="cargo">
          <label class="ng-binding"> Ferramentas ultilizadas : </label>
          <br/>
          <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="ferramentas" [ngModelOptions]="{ standalone: true }"></textarea>
        </div>
        <br/>
        <div class="row">
          <div>
            <label>Data de inicio: </label>
            <br/>
            <p-inputMask type="dataInicio" mask="99/9999" class="form-control" name="Data de inicio" [(ngModel)]="dataDeInicio"
                   placeholder="Data de inicio"/>
          </div>
          <br/>
          <div class="checkbox">
            <p-checkbox [(ngModel)]="trabalhoAqui" [binary]="true" [ngModelOptions]="{ standalone: true }"
                        name="trabalhoAqui" inputId="binary"></p-checkbox>
            <label> Trabalho atualmente neste cargo </label>
          </div>
        </div>

        <br/>
        <div class="row">
          <div *ngIf="!trabalhoAqui">
            <label>Data de termino: </label>
            <br/>
            <p-inputMask type="dataTermino" mask="99/9999" class="form-control" name="Data de termino" [(ngModel)]="dataDeTermino"
                   placeholder="Data de termino"/>
          </div>
        </div>
        <br/>

        <button type="submit" (click)="inserir()" class="button"> inserir</button>
        <button type="submit" (click)="salvar()" class="button"> Salvar</button>
      </form>
      <br/>
      <div *ngIf="experiencias.length">
        <p-accordion [activeIndex]="0">
          @for (item of experiencias; track item.empresa) {
            <p-accordionTab header="{{item.empresa}}">
              <ng-template pTemplate="header">
                <span class="remove">
                  <p-button icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="remover(item)"></p-button>
                </span>

              </ng-template>

              <p>
                {{ item.cargo }} - {{ item.dataInicio }}
                <span *ngIf="item.dataFim">
                  á {{ item.dataFim}}
                </span>
              </p>
              <p>
                <b> Descrição  </b> : {{item.descricao}}
              </p>
              <p>
                <b> Ferramentas ultilizadas </b> : {{item.ferramentas}}
              </p>
            </p-accordionTab>

          }
        </p-accordion>
      </div>
    </div>
  </div>
</div>
