<div class="card flex flex-column md:flex-row gap-3">
  <div id="wapper" class="card">
    <div class="formulario">
      <h2> Cadastro <span> Experiencia</span></h2>
      <br />
      <form name="signup-form">

        <div class="row">
          <div>
            <label class="ng-binding"> Cargo : </label>
            <br />
            <input type="name" pInputText class="form-control" name="nome do cargo" [(ngModel)]="cargo"
                   placeholder="nome do cargo">
          </div>
          <br />
          <div>
            <label  class="ng-binding"> nome da Empresa : </label>
            <br />
            <input type="name" pInputText class="form-control" name="nome do Empresa" [(ngModel)]="nomeEmpresa"
                   placeholder="nome do Empresa">
          </div>
          <br/>
        </div>
        <br/>
        <div class="cargo">
          <label  class="ng-binding"> cargo na Empresa : </label>
          <br />
          <textarea rows="4" cols="25" pInputTextarea [(ngModel)]="descricao"></textarea>
        </div>
        <br/>
        <div class="row">
          <div>
            <label>Data de inicio: </label>
            <br />
            <p-calendar [(ngModel)]="dataDeInicio" name="dataDeInicio" id="dataDeInicio" [showIcon]="true"></p-calendar>
          </div>
          <br/>
          <div class="checkbox">
            <p-checkbox  [(ngModel)]="trabalhoAqui" [binary]="true" [ngModelOptions]="{ standalone: true }"
                         name="trabalhoAqui" inputId="binary"></p-checkbox>
            <label> Trabalho atualmente neste cargo </label>
          </div>
        </div>

        <br />
        <div class="row">
          <div  *ngIf="!trabalhoAqui">
            <label>Data de termino: </label>
            <br />
            <p-calendar [(ngModel)]="dataDeTermino" name="dataDeTermino" id="dataDeTermino"
                        [showIcon]="true"></p-calendar>
          </div>
        </div>
        <br />

        <button type="submit" (click)="salvar()" class="button"> inserir </button>
        <button type="submit" (click)="salvar()" class="button"> Salvar </button>
      </form>
    </div>
  </div>
</div>
